.wp-block-capture-form:not(.capture-form--no-core-styles) {

    align-items: stretch;
    box-sizing: border-box;

    .capture-form__field {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-width: 0;
    }

    .capture-form__label {
        margin-bottom: 0.25rem;
    }

    .capture-form__input,
    .capture-form__input--email,
    .capture-form__input--name,
    .capture-form__button {
        margin: 0;
        padding: 1rem;
        font-size: 1rem;
        line-height: normal;
        box-sizing: border-box;
    }

	.capture-form__button {
        border-style: solid;
		background-color: #0073aa;
		color: white;
		border-width: 0;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.2s, color 0.2s;

		&:hover {
			background-color: var(--hover-bg-color, #005177);
			color: var(--hover-text-color, white);
		}
	}

	.capture-form__privacy-policy {
        font-size: small;
        color: #666;

        a {
            color: inherit;
        }
	}

	// Make group blocks and container blocks span full width in flex layouts.
	.wp-block-group,
	.wp-block-columns {
		flex-basis: 100% !important;
		width: 100% !important;
	}
}

.capture-form__error {
    border: 2px solid red;
    padding: 1rem;
    background: #ffe3e3;
    border-radius: 4px;
    text-align: center;
    color: #8a0000;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    .wp-block-capture-form {
        .capture-form {
            &--inline {
                flex-direction: column !important;
            }
        }

        .capture-form__button {
            flex: auto !important;
        }
    }
}